name: Deploy to GCP
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.GCP_VM_IP }}
          username: ${{ secrets.GCP_VM_USER }}
          key: ${{ secrets.GCP_SSH_PRIVATE_KEY }}
          script: |
            cd /tmp
            rm -rf * .*
            echo "Deploying..." > /var/www/html/index.html
            sudo rm -rf /var/www/html/*
            sudo chown dev_techplodding:dev_techplodding /var/www/html
            cp -r * /var/www/html/ || true
            sudo chown -R www-data:www-data /var/www/html
            sudo nginx -s reload
