name: Auto Deploy HealthCo

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Deploy Frontend
        run: |
          sudo rm -rf /var/www/html/*
          sudo unrar x frontend/dist.rar /var/www/html/
          sudo systemctl reload nginx

      - name: Deploy Backend
        run: |
          rm -rf ~/app/backend
          mkdir -p ~/app/backend/publish
          unrar x backend/*.rar ~/app/backend/publish/

          sudo systemctl restart healthco-backend

      - name: Health Check
        run: |
          sleep 5
          curl -f http://localhost/api/health
