name: Auto Deploy HealthCo

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # ======================
      # FRONTEND DEPLOY
      # ======================
      - name: Deploy Frontend
        run: |
          sudo rm -rf /var/www/html/*
          sudo cp -r frontend/dist/* /var/www/html/
          sudo systemctl reload nginx

      # ======================
      # BACKEND DEPLOY (.NET)
      # ======================
      - name: Deploy Backend
        run: |
          sudo rm -rf /opt/healthco/backend
          sudo mkdir -p /opt/healthco/backend
          sudo cp -r backend/BookAppointmentPublish/* /opt/healthco/backend/
          sudo chown -R dev_techplodding:dev_techplodding /opt/healthco
          sudo systemctl restart healthco-backend

      # ======================
      # HEALTH CHECK
      # ======================
      - name: Health Check
        run: |
          sleep 5
          curl -f http://localhost:5000/health
